<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1>Login :</h1>
<form method="post" action="/auth/login">
    <label> Username :</label>
    <input type="text" name="username"><br>

    <label> Password :</label>
    <input type="password" name="password"><br>

    <input type="submit" value="login">
</form>
</body>
</html>